.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .product-card .image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover img {
    transform: scale(1.05);
  }
  .product-card button {
    background-color: #ff5733;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
  }
  .product-card button:hover {
    background-color: #e64a19;
  }
  .quantity-control {
    /* display: flex; */
    align-items: center;
    gap: 10px; /* Space between buttons */
    margin-bottom: 15px; /* Space below quantity selector */
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  

